body {
	background: #f4f4f4;
	font-family: 'Droid Sans';
	font-size: 12pt;
}

h1,h2 {
	color: black;
	font-family: 'Open Sans';
	font-weight: 300;
	margin-top: 0;
}

h3,h4,h5 {
	color: black;
	font-weight: 400;
}

.fixed-table-header {
	background-color: #fff;
}

#sidebar {
	background: #EDEDED;
	border-radius: 8px;
	padding: 16px;
}

#sidebar h2 {
	margin-top: 0;
}

#sidebar ul {
	padding-left: 24px;
	list-style-type: square;
}

header {
	background: #951010;
	padding: 20px;
	text-align: center;
}

header a, header a:active, header a:focus, header a:visited {
	text-decoration: none;
}

.accent {
	color: #B5B5B5;
	font-size: 0.8em;
	margin-right: 14px;
}

header .title {
	font-size: 26pt;
	color: white;
	font-family: 'Open Sans';
	font-weight: 300;
	margin-left: 60px;
	vertical-align: -11px;
	display: inline-block;
	text-shadow: 0 1px 0 black;
}

#eagle {
	display: inline-block;
    max-width:70px;
    max-height:70px;
    margin-left: -60px;
    width: auto;
    height: auto;
}

#selectAdmin, #mainSelect {
	width: 100%;
	display: block;
	margin: 10px 0;
	overflow-x: scroll;
}

#update-instructor-labels label { 
    font-weight: normal;
}

#update-instructor-labels label::after { 
    content: ": ";
}

#update-instructor-labels select {
	margin: 0 6px 0 3px;
}

.account-link {
	padding: 0 10px;
}

#evals-table {
	margin-top: 20px;
}

#evals-table > tbody > tr:hover {
	background: rgba(255,255,255,0.6);
}

#evals-table input[type='radio'] {
	margin-top: 10px;
}

.table thead>tr.legend>th {
	border-bottom: none;
	color: #777;
	font-weight: normal;
}

.legend>th .glyphicon {
	margin: 0 20px;
	color: #CCC;
}

.course-link {
	font-weight: bold;
}

.num {
	margin-right: 16px;
	color: rgba(0,0,0,0.5);
}

#evaluation {
	margin-bottom: 20px;
}
#evaluation, #evaluation th {
	text-align: center;
}
#evaluation .description {
	text-align: left;
	padding-top: 25px;
}
#evaluation .description::after {
	content: '...';
	margin-left: 10px;
	color: rgba(0,0,0,0.3);
}
#evaluation label {
	margin: 0;
	padding: 10px;
}
#comments {
	font-size: 14pt;
	resize: vertical;
	margin-bottom: 14px;
}
.comment-box {
	resize: vertical;
	min-width: 300px;
}
#saveButton, #submitButton {
	margin: 20px 10px;
}
#instructor-questions select {
	width: 100%;
}

.alignLabel {
	display: inline-block;
	float: left;
	clear: left;
	text-align: left;
	width: 125px;
}

.alignBox {
	display: inline-block;
	float: left;
	max-width: 260px;
}

.sectionQuestionBox {
	margin-left: 12px;
}
#course_selection {
	margin-bottom: 20px;
}

.checkboxList {
	max-height: 300px;
	overflow: auto;
}

.checkboxList .list-group { margin-bottom: 10px; }
.checkboxList .list-group-item { padding: 0 14px; }

#table{
	background:white;
}

#table .selected {
  background-color: red;
}

@media (max-width: 768px) {
	header {
		background: #951010 url('../img/eagle_white_faded.png') center center / 200px 188px no-repeat;
	}

	header .title {
		font-size: 18pt;
		text-align: center;
		margin-left: 0;
		display: block;
	}

	#eagle {
		display: none;
	}

	h1 {
		font-size: 20pt;
	}
}

.navbar {
	border-top: none;
	border-radius: 6px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: #707070;
}

/* navbar combination: http://work.smarchal.com/twbscolor/css/5a5a5a434343ecf0f1ffffff0; */
.navbar-default {
  background-color: #5a5a5a;
  border-color: #434343;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #4F4F4F;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #434343;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #434343;
}
.navbar-default .navbar-toggle {
  border-color: #434343;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #434343;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #434343;
  }
}


/* help page */

.admin_help{
	padding:20px;
}

.admin_help .panel-heading {
	cursor:pointer;
	padding:3px;
	padding-left:6px;

}

.admin_help .panel-default .panel-heading {
	padding:1px;
	padding-left:10px;
}

